.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .logo {
      position: relative;
      cursor: pointer;
  
      img {
        height: 50px;
      }
    }
  
    .nav {
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        gap: 100px; // Default gap between nav items
  
        @media screen and (max-width: 899px) {
          gap: 15px; // Adjusted gap for smaller screens
          flex-direction: column; // Stack nav items vertically on small screens
          align-items: center; // Center align nav items
          background-color: #f0f0f0; // Example background color for mobile nav
          position: absolute;
          top: 60px; // Adjust top position as needed
          left: 0;
          width: 100%;
          padding: 10px 0;
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); // Example box-shadow for mobile nav
          border-radius: 4px; // Example border-radius for mobile nav
          z-index: 1000; // Ensure nav is above other content
          display: none; // Initially hide for small screens
        }
  
        li {
          margin: 0;
          padding: 0;
        }
  
        a {
          text-decoration: none;
          color: #000;
          transition: color 0.3s ease, transform 0.3s ease;
  
          &:hover {
            color: #555;
          }
  
          &.active {
            color: #000; 
            font-weight: bold;
          }
        }
      }
    }
  
    .icons {
      display: flex;
      gap: 15px;
  
      .iconButton {
        color: #000;
        transition: color 0.3s ease;
  
        &:hover {
          color: #555;
        }
      }
    }
  
    @media screen and (max-width: 899px) {
      .nav {
        position: relative; // Ensure the nav appears relative to the header
        display: none; // Hide nav items initially for small screens
  
        &.active {
          display: flex; // Show nav items when active class is applied
        }
      }
  
      .icons {
        flex-direction: row;
        position: absolute;
        top: 15px;
        right: 20px;
  
        .iconButton {
          font-size: 1.5rem; // Adjust icon size for small screens
        }
      }
    }
    @media screen and (min-width: 900px) and (max-width: 1024px) {
        .nav ul {
          gap: 40px; 
        }
      }
      @media screen and (min-width: 1025px) and (max-width: 1125px) {
        .nav ul {
          gap: 55px; 
        }
      }
      @media screen and (min-width: 1126px) and (max-width: 1226px) {
        .nav ul {
          gap: 65px; 
        }
      }
  }
  