.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    padding: 12px 0px 12px 0px;
    margin: 29px 0px 10px 0px;
    width: 100%;
  
    .product-image {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    }
    img{
      width: 100%;
      max-width: 312px;
    }
  
    .product-info {
      width: 100%;
      max-width: 310px;
  
      .product-name {
        font-size: 16px;
        font-weight: bold;
        margin: 20px 0 4px;
      }
  
      .product-price {
        font-size: 18px;
        color: #000;
        margin: 8px 0;
      }
  
      .product-price-with-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Add this line for better alignment */
      }
  
      .add-to-cart-btn {
        padding: 10px 20px;
        background-color: transparent;
        color: #000;
        border: 1px solid #000;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 8px;
      }
    }
  
    @media (min-width: 768px) {
      flex: 1 0 calc(100% - 32px);
      /* Three cards per row with margin */
      max-width: calc(100% - 32px);
      /* Adjust max-width to fit three cards */
      margin-right: 16px;
      /* Margin between cards */
      margin-bottom: 16px;
      /* Margin between rows */
    }
  
    @media (min-width: 1024px) {
      flex: 1 0 calc(100% - 32px);
      /* Four cards per row with margin */
      max-width: calc(100% - 32px);
      /* Adjust max-width to fit four cards */
    }
  }
  
  .add-drawer-container {
    width: 450px;
    padding: 20px 10px;
  
  
    .add-drawer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-bottom: 2px solid #000;
      margin-bottom: 10px;
  
      .add-icon-drawer,
      .close-icon {
        font-size: 24px;
        cursor: pointer;
      }
    }
  
    .product-image {
      margin: 48px 0px 5px;
      display: flex;
      gap: 30px;
    
  
      img {
        width: 100%;
        height: 140px;
        max-width: 140px;
        border: 1px solid #000;
        padding: 6px;
        border-radius: 12px;
      }
  
      p {
        font-size: 17px;
        font-weight: 700;
      }
  
      span {
        font-weight: 400;
      }
      .remove-btn{
        cursor: pointer;
        margin-top: 9px;
        font-weight: 300;
        color: red;
        text-decoration: underline;
      }
    }
    .go-to-cart{
      margin: 376px 0px 0px;
      
      .go-to-cart-btn{
        width: 100%;
        padding: 18px;
        background-color: #B9D514;
        color: #000;
        border: none;
        font-size: 28px;
        border-radius: 5px;  
      }
    }
  }