.fourth-banner {
    background: #ACFFFA url('../../assets/products/bg-effect.png') no-repeat center center / cover;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .fourth-product-image {
        position: absolute;
        max-width: 25%;
        height: auto;
        top: 12%;
        left: 35%;    
        transform: translateX(0);
        transition: transform 0.5s ease; // Smooth transition effect
    }

    .fourth-cloud-image {
        position: absolute;
        height: auto;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
    }

    .fourth-product-images {
        position: absolute;
        top: 54%;
        left: 50%;
        transform: translate(-65%, -50%);
        display: flex;
        gap: 34px;

        .fourth-mid-product {
            max-width: 25%;
            height: auto;
            transition: transform 0.5s ease;
        }
    }

    .fourth-view-more-image {
        position: absolute;
        max-width: 20%;
        height: auto;
        bottom: 6%;
        left: 40%;
        transform: translateX(-50%);
        transition: transform 0.5s ease;
        cursor: pointer;
    }
}
