// .container-desktop {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     // background-image: url('../../assets/landing/img-1.svg');
//     background-size: cover;
//     background-color: #B9D514;
//     position: relative;
//     overflow: hidden;
//   }
  
  
//   .item {
//     position: absolute;
//     transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
//     animation: fadeIn 1s ease-in-out;
//     filter: blur(10px);
//     opacity: 0;
  
//     &.item1 {
//       top: 0;
//       left: 0;
//     }
  
//     &.item2 {
//       top: 0;
//       right: 0;
//     }
  
//     &.item3 {
//       bottom: 0;
//       left: 0;
//     }
  
//     &.item4 {
//       bottom: 0;
//       right: 0;
//     }
//   }  

//   .text {
//     font-size: 3rem;
//     text-align: center;
//   }
  
//   @keyframes fadeIn {
//     from {
//       opacity: 0;
//     }
//     to {
//       opacity: 1;
//     }
//   }
  
//   .scrolled .item {
//     filter: blur(0);
//     opacity: 1;
//   }
  
.banner-Desktop {
    background-color: #B9D514;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .banner-image {
        width: 100%;
        // max-width: 1200px;
        // height: 100vh;
        object-fit: cover;
    }

    @media (max-width: 1200px) {
        padding: 15px;

        .banner-image {
            max-width: 100%;
        }
    }

    @media (max-width: 768px) {
        padding: 10px;

        .banner-image {
            max-width: 100%;
        }
    }

    @media (max-width: 480px) {
        padding: 5px;

        .banner-image {
            max-width: 100%;
        }
    }
}
