.events-Desktop {
    background-color: #FFF1C1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .events-image {
        width: 100%;
        // max-width: 1200px;
        // height: 100vh;
        object-fit: cover;
    }

    @media (max-width: 1200px) {
        padding: 15px;

        .events-image {
            max-width: 100%;
        }
    }

    @media (max-width: 768px) {
        padding: 10px;

        .events-image {
            max-width: 100%;
        }
    }

    @media (max-width: 480px) {
        padding: 5px;

        .events-image {
            max-width: 100%;
        }
    }
}
