.counter {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 34px;
    justify-content: space-between;
    position: relative; 
    margin: 13px 0px 0px;

    &::before {
        content: '';
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        right: 3px;
        bottom: 3px;
        border: 1px solid #221c1c;
        border-radius: 23px;
        pointer-events: none;
    }

    .counter-button {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 20px;
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s ease;

        &:hover {
            background: #f0f0f0;
        }
    }

    .counter-value {
        flex: 1;
        text-align: center;
        font-size: 18px;
    }
}
