.styled-box {
    position: relative;
    width: 85%;
    margin: 10% auto 0 auto;
    padding: 40px 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    text-align: center;
    font-family: Arial, sans-serif;
    
    .content {
      font-size: 2rem;
      color: #333;
      padding: 38px;
    }
  
    .label {
      position: absolute;
      background-color: transparent;
      color: white;
      font-size: 1.125rem;
      font-weight: bold;
      padding: 5px 10px;
      border-radius: 20px;
  
      &.candy {
        top: -50px;
        left: -80px;
        transform: rotate(-2deg);
  
        .candy-img1 {
          width: 60%;
          animation: float 3s ease-in-out infinite;
        }
      }
  
      &.tasty {
        top: -41px;
        right: 0px;
        transform: rotate(5deg);
  
        .tasty-img2 {
          width: 60%;
          animation: float 3s ease-in-out infinite;
        }
      }
  
      &.sweet {
        bottom: -50px;
        left: 50%;
        transform: translateX(-50%) rotate(-5deg);
  
        .sweet-img3 {
          width: 60%;
          animation: float 3s ease-in-out infinite;
        }
      }
    }
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Media Queries */
  @media (max-width: 1024px) {
    .styled-box {
      padding: 30px 15px;
      border-radius: 40px;
  
      .content {
        font-size: 1.75rem;
      }
  
      .label {
        font-size: 1rem;
  
        &.candy {
          top: -45px;
          left: -70px;
  
          .candy-img1 {
            width: 55%;
          }
        }
  
        &.tasty {
            top: -35px;
            right: -24px;    
  
          .tasty-img2 {
            width: 55%;
          }
        }
  
        &.sweet {
          bottom: -45px;
  
          .sweet-img3 {
            width: 55%;
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .styled-box {
      padding: 25px 15px;
      border-radius: 35px;
  
      .content {
        font-size: 1.5rem;
      }
  
      .label {
        font-size: 0.875rem;
  
        &.candy {
          top: -40px;
          left: -60px;
  
          .candy-img1 {
            width: 50%;
          }
        }
  
        &.tasty {
            top: -25px;
            right: -16px;    
  
          .tasty-img2 {
            width: 50%;
          }
        }
  
        &.sweet {
          bottom: -40px;
  
          .sweet-img3 {
            width: 50%;
          }
        }
      }
    }
  }
  
  @media (max-width: 480px) {
    .styled-box {
      padding: 20px 10px;
      border-radius: 30px;
  
      .content {
        font-size: 1.25rem;
      }
  
      .label {
        font-size: 0.75rem;
  
        &.candy {
          top: -30px;
          left: -50px;
  
          .candy-img1 {
            width: 45%;
          }
        }
  
        &.tasty {
            top: -32px;
            right: -10px;
  
          .tasty-img2 {
            width: 45%;
          }
        }
  
        &.sweet {
          bottom: -30px;
  
          .sweet-img3 {
            width: 45%;
          }
        }
      }
    }
  }
  
  @media (max-width: 320px) {
    .styled-box {
      padding: 15px 8px;
      border-radius: 25px;
  
      .content {
        font-size: 1rem;
        padding: 10px;
      }
  
      .label {
        font-size: 0.625rem;
  
        &.candy {
            top: -25px;
            left: -40px;
            width: 141px;
  
          .candy-img1 {
            width: 40%;
          }
        }
  
        &.tasty {
            top: -21px;
            right: 0px;
            width: 133px;
  
          .tasty-img2 {
            width: 40%;
            margin-right: -109px;
          }
        }
  
        &.sweet {
          bottom: -25px;
  
          .sweet-img3 {
            width: 40%;
          }
        }
      }
    }
  }
  