.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Hide any overflow from the image */
  }
  
  .banner {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any extra space below the image */
    object-fit: cover; /* Ensure the image covers the container without distortion */
    margin-top: 100px;
  }
