.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 100px;

    @media (min-width: 320px) {
        height: calc(100vh / 4); // Height adjusted for small screens
    }

    @media (min-width: 768px) {
        height: calc(100vh / 3); // Adjusted height for tablets
    }

    @media (min-width: 1024px) {
        height: calc(100vh / 2.5); // Adjusted height for laptops and desktops
    }

    @media (min-width: 1200px) {
        height: calc(100vh / 2); // Adjusted height for larger screens
    }
}

.banner {
    max-width: 100%;
    height: auto;
    object-fit: cover; // Ensures the image covers the container
    border-radius: 8px; // Optional: adds rounded corners to the banner
}
