.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    padding: 20px;
    box-shadow: 24px;
    border-radius: 8px;
    outline: none;
}

.modalTitle {
    margin-bottom: 0px;
    text-align: center !important;
    font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE' !important;
    font-weight: 800 !important;
}

.modalSubTitle {
    margin-bottom: 20px !important;
    text-align: center !important;
    font-weight: 300 !important;
}

.modalInput {
    margin-bottom: 20px;
}

.modalButton {
    width: 50% !important;
    border-radius: 30px !important;
    font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE' !important;
}
.loginLink {
    font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE' !important;
    font-weight: 300;
}

.emailText {
    font-family: 'MADE-Tommy-Soft-Light-PERSONAL-USE' !important;
    font-weight: 300;
}